/* .css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: transparent !important;
} */
.carousel-indicators{
    display: none !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: #fff !important;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root{
    color: #fff !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: #fff !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    color: #fff !important;
}

.css-46bh2p-MuiCardContent-root:last-child{
    margin-left: 20% !important;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    position: sticky !important;
}

.css-o69gx8-MuiCardMedia-root{
    width: 300px  !important; ;
}
.css-1hmpnow-MuiButtonBase-root-MuiButton-root{
    min-width: 0px !important;
}
.css-1oqqzyl-MuiContainer-root{
    padding: 0px !important;
}